.roboto-mono {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}
.jaro {
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

body{
    margin: 0px;
}

.hero{
    width: 100%;
    height: 100%;
    filter: brightness(70%);
}

.herodisplay{
    position: absolute;
    top: 100px;
    width: 100%;
    height: 70%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.herodisplay h1 {
    color: #007914;
    text-align: center;
    -webkit-text-stroke: 0.5px #0f3213;
    line-height: 10px;

    font-size: 1200%;
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.herodisplay p {
    font-size: 185%;
    color: #31ad1e;
    width: 90%;
    text-align: center;
    -webkit-text-stroke: 1.5px #072208;

    background-image: linear-gradient(#00bd1f, #007c15);
    color: transparent;
    background-clip: text;
}
.knopje{
    margin-top: 100px;

    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.33);
    border-radius: 5px;

    width: 20%;
    text-decoration: none;
    text-align: center;
    padding: 20px;
}
#twee {
    color: white;
    width: 100%;
    height: 100%;
    font-size: 30px;
}

.maindiv{
    position: absolute;
    top: 0;
    height: 100%;
    background-color: orange;
}
main{
    height: 100%;
    width: 100%;
}
footer{
    position: absolute;
    height: 250px;
    width: 100%;
    background-color: #131313;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

footer .title {
    color: #c7c7c7;
}
footer .copyright {
    position: absolute;
    color: #353535;
    bottom: 0px;
    font-size: 20px;
}