.Bram {
    width: 70%;
    height: 200px;
    background-color: #dfdfdf;
   

}

.Sam {
    width: 70%;
    height: 200px;
    background-color: #dfdfdf;
}

.Sophie {
    width: 70%;
    height: 200px;
    background-color: #dfdfdf;
}

.Mike{
    width: 70%;
    height: 200px;
    background-color: #dfdfdf;
}

.post {
    display: flex;
}

.everything {
display: flex;
justify-content: space-between;
flex-direction: column;

}

.bigbox{
   display: flex;
    width: 1100px;
    height: 1600px;
    background-color:#d1cfcf;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.adds {
    display: flex;
    height:2400px ;
    width: 400px;
    
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.missie {
    width: 70%;
    height: 200px;
    background-color: #dfdfdf;

}

.post{
    display: flex;
    width: 95%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;

}

.everythingv2{
    display: flex;
    flex-direction: row;
}

.gang{
    background-color:#d1cfcf;
    height: 800px;
    width: 100%;
}
.gang2{
    width: 90%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.pfp{
    width: 140px;
    
}

.inhoud{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    background-color: rgb(243, 243, 243);
    font-size: large;
}

.missietext {
    background-color: rgb(243, 243, 243);
    height: 120px;
    font-size: large;
}